<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101174079799-m4j8infjl8obeanl30fpjvbj6m9n4v22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101174079799-m4j8infjl8obeanl30fpjvbj6m9n4v22</string>
	<key>API_KEY</key>
	<string>AIzaSyCQIszsV53gOE0HurXxIUOcaYByIA13rMI</string>
	<key>GCM_SENDER_ID</key>
	<string>101174079799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smoothsurface</string>
	<key>PROJECT_ID</key>
	<string>smooth-surface</string>
	<key>STORAGE_BUCKET</key>
	<string>smooth-surface.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101174079799:ios:50539f96c6b5626ec6aab2</string>
</dict>
</plist>